body {
	background: #2c2d32;
	color: #777777;
	padding: 0 !important;
}

.back-to-main {
	display: none;
}

.wrapper {
	width: auto;
	max-width: none;
}

.page-header {
	float: none;
	width: auto;
	padding: 10px 30px;
	margin: 0;
	color: #fff;
	height: 90px;
}

.site-title {
	margin: 0;
	font-size: 1.3em;
	padding-left: 1.5em;
	display: inline-block;
	position: relative;
	top: 30px;
}

.site-title a {
	color: #fff;
}

.site-title a:before {
	content: '← ';
	display: inline-block;
	width: 1.5em;
	margin-left: -1.5em;
}

.donate {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 20px;
}

.donate .btn {
	font-size: 11px;
	width: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}

.nav {
	display: none;
}

.page-content {
	margin-left: 0;
	padding: 30px;
	border: 0;
}

.page-footer {
	display: none;
}

.download-a5 {
	position: absolute;
	margin-top: -55px;
	font-size: 12px;
}

.download-a5 .btn {
	font-size: 12px;
	background: none;
	border: 1px solid #ccc;
}

.ch-snippet {
	font-family: Monaco, Bitstream Vera Sans Mono, "Lucida Console", Terminal;
	margin-bottom: 10px;
	font-size: 11px;

	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
}

.ch-snippet__name {
	font-size: 1em;
	font-weight: normal;
	float: left;
	padding: 0;
	margin: 0 15px 0 0;
	min-width: 12em;
	color: #fff;
}

.ch-snippet__value {
	white-space: pre-wrap;
	overflow: hidden;
	margin: 0;
	padding: 1px 0 1px 20px;
	color: #777;
}

.ch-tabstop {
	/* border: 1px solid #eaeaea; */
	background: #8eb632;
	display: inline-block;
	padding: 0 5px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	/* margin: -1px 0; */

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 4px;
}

.ch-caret {
	border-left: 2px solid #578fe3;
	margin: 0 2px -0.1em;
	display: inline-block;
	height: 1.1em;

}

.ch-section {
	margin-bottom: 40px;
	/*overflow: hidden;*/
	clear: both;
}

.ch-section:last-of-type {
	margin-bottom: 0;
}

.ch-section__desc p {
	margin-bottom: 0.4em;
}

.ch-section__desc code {
	color: #eee;
}

.ch-section__content {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

.ch-section__title {
	margin: 0 0 0.5em;
	page-break-after: avoid;
	color: #94c02f;
}

.ch-subsection {
	/*overflow: hidden;*/
	clear: both;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	column-break-inside: avoid;
}

.ch-subsection__title {
	margin: 20px 0 5px;
	page-break-after: avoid;
	background-color: #1b1c20;
	color: #ededed;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ch-subsection:first-child .ch-subsection__title {
	margin-top: 0;
}

.cn-snippet__alias {
	font-size: 10px;
	color: #4c4d51;
	margin: 5px 0;
}

.cn-snippet__alias-abbr {
	color: #606064;
}

/*
 * For HTML and XSL sections, put snippet value right below its name
 * to save some space
 */
.ch-section_syntax .ch-snippet__name,
.ch-section_html .ch-snippet__name,
.ch-section_xsl .ch-snippet__name {
	float: none;
}

.ch-section_syntax .ch-snippet,
.ch-section_html .ch-snippet,
.ch-section_xsl .ch-snippet {
	margin-bottom: 20px;
}

/* For CSS, shorten snippet name width */
.ch-section_css .ch-snippet__name {
	min-width: 7em;
}

#gptong-container {
	position: absolute;
	top: 10px;
	right: 40px;
	background: none;
	border: 1px solid #444;
	width: 320px;
	min-height: 100px;
	/* display: none; */
}

.carbon-img,
.xrxbcfk_5-img {
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 0;
}

.carbon-img img,
.xrxbcfk_5-img img {
	vertical-align: top;
}

.carbon-text,
.xrxbcfk_5-text {
	clear: none;
}

.carbon-text a
.xrxbcfk_5-text a {
	color: #777;
}

.carbon-poweredby,
.xrxbcfk_5-poweredby {
	color: #555;
}

.carbon-poweredby a,
.xrxbcfk_5-poweredby a {
	color: #555;
	text-decoration: underline;
}

.more-tools {
	display: none;
}

@media print, screen and (max-width: 870px) {
	.ch-section__content {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.page-content {
		padding: 10px;
	}

	.download-a5 {
		margin-top: -45px;
	}
}

@media print, screen and (max-width: 770px) {
	.download-a5__text {
		display: none;
	}
}

@media print, screen and (max-width: 500px) {
	.ch-section__content {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.page-content {
		padding: 5px;
	}
}

@media screen and (max-width: 600px) {
	#gptong-container {
		display: none;
	}

	.page-header {
		height: auto;
	}

	.site-title {
		top: auto;
	}
}


/* Print stylesheet, pretty ugly but it’s better that nothing */
@media print {
	body {
		font-family: arial, sans-serif;
		color: #000;
		background: #fff;
	}

	#cheatsheet {
		font-size: 9px;
	}

	.page-header, .page-footer {
		display: none;
	}

	.page-content {
		padding: 0;
		margin: 0;
		border: 0;
	}

	/*
	 * Columns are not working in WebKit for print media,
	 * using good ol' floats
	 */
	.ch-section__content {
		-webkit-column-count: auto;
		-moz-column-count: auto;
		column-count: auto;
	}

	.ch-snippet {
		float: left;
		width: 30%;
		padding-right: 3%;
		page-break-inside: avoid;
		font-size: inherit;
	}

	.ch-section__title, .ch-subsection__title {
		background: transparent;
		color: #000;
		padding: 0;
	}

	.ch-snippet__name {
		color: #333;
		font-size: inherit;
	}

	.ch-tabstop {
		background: transparent;
		color: #666;
		text-shadow: none;
		border: 1px solid #999;
	}

	.ch-snippet {
		margin-bottom: 7px !important;
	}

	@page {
		size: landscape;
		margin: 1cm;
	}
}
