/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */

html {
	height: 100%;
}

body {
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: 300;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* In IE < 10 Lato font is rendered poorly */
.lt-ie10 body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, dl {	
	margin: 0 0 20px;
}

h1, h2, h3 {
	line-height: 1.1;
}

h2, h3, h4, h5, h6 {
	margin-top: 2em;
	margin-bottom: 0.2em;
}

h1 {
	color: #222;
	font-size: 2em;
	margin-bottom: 20px;
}

h2 {
	color: #393939;
}

h3, h4, h5, h6 {
	color: #494949;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #39c;
	text-decoration: none;
}

a:hover {
	color: #069;
}

blockquote {
	border-left: 1px solid #e5e5e5;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, "Lucida Console", Terminal;
	color: #333;
	font-size: 0.9em;
}

pre {
	padding: 8px 15px;
	background: #f8f8f8;  
	border-radius: 5px;
	border:1px solid #e5e5e5;
}

table pre {
	margin: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #e5e5e5;
}

dt {
	color: #444;
	font-weight: bold;
	font-size: 1.2em;
}

dd {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 1.5em;
}

th {
	color: #444;
}

img {
	max-width: 100%;
}

strong {
	color:#222;
	font-weight:700;
}

small {
	font-size: 0.8em;
}

hr {
	border: 0;
	background: #e5e5e5;
	height: 1px;
	margin: 0 0 20px;
}

.wrapper {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}

.nav .nav {
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 12px;
}

.nav__item {
	margin-bottom: 15px;
	line-height: 1.2;
}

.nav__item .nav__item {
	margin-bottom: 5px;
}

.clear {
	clear: both;
	height: 0;
}

.page-header {
	width: 270px;
	margin-right: -270px;
	float: left;
	margin-bottom: 10em;
	padding-top: 50px;
}

.page-content {
	margin-left: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.page-footer {
	width: 270px;
	clear: both;
	position: absolute;
	bottom: 50px;
}

.small-text {
	font-size: 0.8em;
	color: #777;
	margin-bottom: 0.7em;	
}

.site-title a {
	color: #000;
	text-decoration: underline;
}

.anchor {
	width: 1em;
	display: inline-block;
	position: absolute;
	margin-left: -1em;
	color: inherit;
	opacity: 0;
}

.anchor:before {
	content: '¶';
}

*:hover > .anchor,
.anchor:hover {
	opacity: 1;
}

.back-to-main {
	font-size: 11px;
	position: relative;
	margin: 15px 0;
	font-weight: bold;
}

.back-to-main:before {
	content: '←';
	position: absolute;
	display: inline-block;
	left: -1.5em;
}

.download-main {
	display: block;
	font-size: 4em;
	margin: 1em auto 0;
	padding: 0.2em 0.6em;
	font-weight: bold;
	border: 1px solid #3c99cc;
	width: 6em;
	text-align: center;
	line-height: 1.2;

	-webkit-border-radius: 0.2em;
	   -moz-border-radius: 0.2em;
	        border-radius: 0.2em;

}

.download-main__comment {
	font-size: 0.2em;
	font-family: georgia, serif;
	font-style: italic;
	color: #ccc;
	font-weight: normal;
	text-align: center;
	display: block;
}

.donate .btn {
	width: 7em;
	font-size: 1.2em;
}

#disqus_thread {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 3px solid #e5e5e5;
}

#carbonads-container {
	/* float: right; */
	/* min-height: 215px; */
	margin: 0 -15px 15px;
	min-height: 120px;
}

@media print, screen and (max-width: 960px) {
	body {
		padding: 50px;
	}

	.wrapper {
		width: auto;
		margin: 0;
	}
	
	.page-header, .page-content, .page-footer {
		float: none;
		position: static;
		width: auto;
	}
	
	.page-header {
		padding-top: 0;
		padding-right: 320px;
		margin-right: 0;
		margin-bottom: 0;
	}
	
	.page-content {
		border: 1px solid #e5e5e5;
		border-width: 1px 0;
		padding: 20px 0;
		margin: 0 0 20px;
	}

	.page-footer {
		padding-bottom: 10px;
	}
}

@media print, screen and (max-width: 720px) {
	body {
		word-wrap: break-word;
	}
	
	.page-header {
		padding: 0;
	}
		
	pre, code {
		word-wrap: normal;
	}
}

@media print, screen and (max-width: 480px) {
	body {
		padding: 15px;
	}

	.back-to-main:before {
		content: '';
	}

	.CodeMirror-movie__splash-text {
		font-size: 2em;
	}

	.download-main {
		box-sizing: border-box;
		width: 100%;
		font-size: 2em;
	}

	.download-main__comment {
		font-size: 10px;
	}
}

@media print {
	body {
		padding: 0.4in;
		font-size: 12pt;
		color: #444;
	}
}