.wrapper {
	width: auto;
	max-width: none;
}

.page-header {
	float: none;
	width: auto;
	padding: 10px 30px;
	margin: 0;
	background: #000;
	color: #fff;
}

.site-title {
	margin: 0;
	font-size: 1.3em;
	padding-left: 1.5em;
}

.site-title a {
	color: #fff;
}

.site-title a:before {
	content: '← ';
	display: inline-block;
	width: 1.5em;
	margin-left: -1.5em;
}

.nav {
	display: none;
}

.page-content {
	margin-left: 0;
	padding: 30px;
}

.page-footer {
	position: static;
	padding: 30px;
	padding-top: 0;
}

.ch-snippet {
	font-family: Monaco, Bitstream Vera Sans Mono, "Lucida Console", Terminal;
	margin-bottom: 10px;
	font-size: 11px;

	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
}

.ch-snippet__name {
	font-weight: bold;
	font-size: 1em;
	float: left;
	padding: 0;
	margin: 0 15px 0 0;
	min-width: 12em;
}

.ch-snippet__value {
	white-space: pre-wrap;
	overflow: hidden;
	margin: 0;
	padding: 1px 0;
}

.ch-tabstop {
	border: 1px solid #eaeaea;
	background: #f8f8f8;
	display: inline-block;
	padding: 0 5px;
	margin: -1px 0;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ch-caret {
	border-left: 2px solid #578fe3;
	margin: 0 2px -0.1em;
	display: inline-block;
	height: 1.1em;

}

.ch-section {
	margin-bottom: 40px;
	/*overflow: hidden;*/
	clear: both;
}

.ch-section:last-of-type {
	margin-bottom: 0;
}

.ch-section__content {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

.ch-section__title {
	margin: 0 0 0.5em;
	page-break-after: avoid;
}

.ch-subsection {
	/*overflow: hidden;*/
	clear: both;
}

.ch-subsection__title {
	margin: 20px 0 5px 0;
	page-break-after: avoid;
}

.ch-subsection:first-child .ch-subsection__title {
	margin-top: 0;
}

.cn-snippet__alias {
	font-size: 10px;
	color: #ddd;
	margin: 5px 0;
}

.cn-snippet__alias-abbr {
	color: #555;
}

/* 
 * For HTML and XSL sections, put snippet value right below its name
 * to save some space
 */
.ch-section_syntax .ch-snippet__name,
.ch-section_html .ch-snippet__name,
.ch-section_xsl .ch-snippet__name {
	float: none;
}

.ch-section_syntax .ch-snippet,
.ch-section_html .ch-snippet,
.ch-section_xsl .ch-snippet {
	margin-bottom: 20px;
}

/* For CSS, shorten snippet name width */
.ch-section_css .ch-snippet__name {
	min-width: 7em;
}

/* Print stylesheet, pretty ugly but it’s better that nothing */
@media print {
	body {
		font-family: arial, sans-serif;
	}

	.page-header, .page-footer {
		display: none;
	}

	.page-content {
		padding: 0;
		margin: 0;
		border: 0;
	}

	/* 
	 * Columns are not working in WebKit for print media, 
	 * using good ol' floats 
	 */
	.ch-section__content {
		-webkit-column-count: auto;
		-moz-column-count: auto;
		column-count: auto;
	}

	.ch-snippet {
		float: left;
		width: 30%;
		padding-right: 3%;
		page-break-inside: avoid;
	}

	@page {
		size: landscape;
		margin: 1cm;
	}
}