/*
 * About global
 */

.about-content:before {
	content: '→';
}

.about-content .sub-navigation {
	text-align: left;
}

.about-content .sub-navigation ul {
	display: inline-block;
}

.about-content .sub-navigation a {
	color: #FFED00;
}

.about-content .single-column {
	border: 12px solid #FFED00;
	background: #ffffff;
}

.about-wrapper {
	position: relative;
	padding: 1.5em 2em 5em 2em;
	overflow: hidden;
}

.about-content h1 {
	font-size: 2.625em;
	font-weight: bold;
}

.about-content .wrapper {
	position: relative;
	margin-bottom: 2.5em;
}

/*
 * About us
 */

.about-pic {
	display: block;
	margin-bottom: 1.25em;
}

.wrapper .about-pic {
	margin-bottom: -1.5em;
}

.about-intro {
	width: 55%;
}

#content .about-intro h2 {
	font-size: 1.75em;
	color: #000000;
	text-align: left;
	margin-bottom: 1em;
}

.about-intro-p {
	font-size: 1.125em;
	text-transform: uppercase;
}

.about-intro-p strong {
	font-weight: bold;
}

.about-column {
	width: 33.3%
}

.about-column-second {
	left: 33.3%;
	border-right: 1px dotted #000000;
}

.about-column-third {
	left: 66.6%;
}

.about-column-wrapper {
	position: relative;
	padding: 0 1.875em;
}

.about-item {
	margin-bottom: 2.5em;
}

.about-item h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1.4;
	margin: 1em 0 0.8em 0;
}

.about-faq {
	font-size: 0.93em;
	line-height: 1.4;
}

.about-faq h3 {
	font-size: 1.25em;
}

.about-faq-item {
	margin-bottom: 1.25em;
}

.about-question {
	font-family: Georgia;
	color: #86776b;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.about-all-faq {
	font-style: italic;
}

.about-business-link {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFED00;
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-radius: 0 0 0 8px;
	font-size: 0.8125em;
	width: 17em;
	padding: 1.5em;
}

.about-business-link h5 {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0.5em;
	font-size: 1.225em;
}

.about-add-column {
	width: 55%;
	height: 27em;
	-moz-border-radius: 12px 0 0 12px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	border-radius: 12px 0 0 12px;
	background: #46a419 url(/f/1/global/i/bigbuzzy_about_wavy.png) 100% 0 repeat-y;
}

.about-add-column a {
	color: #FFED00;
}

.about-add-column .about-column-wrapper,
.about-add-column-second .about-column-wrapper {
	padding: 1.875em 1.25em;
}

.about-add-column h3,
.about-add-column-second h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 0.7em;
}

.about-add-column h3 {
	color: #ffed00;
}

.about-add-column {
	color: #ffffff;
}

.about-add-column-second h3 em,
.about-inside-column h4 em {
	color: #e23b00;
}

.about-add-column-second {
	width: 45%;
	left: 55%;
	height: 27em;
	background-color: #ffed00;
	-moz-border-radius: 0 12px 12px 0;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	border-radius: 0 12px 12px 0;
}

.about-inside-column {
	width: 47%;
}

.about-inside-column-second {
	left: 50%;
}

.about-inside-column h4 {
	text-transform: uppercase;
	font-size: 1.125em;
	margin-bottom: 0.6em;
}

.about-inside-column p {
	font-size: 0.8125em;
	margin-bottom: 1em;
}

.about-end {
	margin: 0 auto;
	text-align: center;
	width: 60%;
}

#content .about-end h2 {
	color: #000000;
	font-size: 2em;
	font-style: italic;
	text-transform: none;
	margin-bottom: 0.5em;
}

.about-end p {
	font-size: 1.125em;
	line-height: 1.4;
	margin-bottom: 1em;
}

.about-content .faq-question {
	left: 70%;
	width: 30%;
}

.feedback-question p {
	font-weight: bold;
	font-size: 1.125em;
	margin-bottom: 1.5em;
}

.feedback-question .button {
	font-family: "Arial Narrow", ArialNarrowNum, sans-serif;
	font-size: 1.5em;
	font-style: italic;
	padding: 0 1em;
}