.xml .tag,
.css .tag,
.json .attribute {
	color: #2F6F9F;
}

.xml .tag .attribute {
	color: #4F9FCF;
}

.xml .tag .value,
.json .value,
.javascript .string,
.r .string {
	color: #d44950;
}

.xml .comment,
.javascript .comment {
	color: #999;
}